@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/*    ESTILOS GERAIS    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background-image: linear-gradient(45deg, #4942E4, blueviolet, #8696FE, #C4B0FF);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}


button {
    width: 100%;
    border-radius: 24px;
    padding: 0.8rem 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}


/*    MAIN    */

main {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: url("../img/the-halal-design-studio-Gh6l07ydq40-unsplash.jpg");
    background-position: center;
    background-size: cover; */
}

#container {
    width: 750px;
    padding: 33px 0;

    background-color: #2B2B2B;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

textarea, #texto__enviado {
    border: 2px solid #8a2be2;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
    resize: none;

    width: 20rem;
    height: 80%;
}

textarea:focus {
    outline: none;
}


/*   BOTÕES   */

#texto__recebido__botoes, #texto__enviado__botoes {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#texto__enviado__botoes {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#texto__recebido__botoes button:first-child {
    background-image: linear-gradient(45deg, #4942E4, blueviolet, #8696FE, #C4B0FF);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
    border: 0;
    height: 41%;
}

#texto__recebido__botoes button:first-child:hover {
    opacity: 0.9;
}

#texto__recebido__botoes button:last-child, #texto__enviado__botoes button {
    border: 2px solid blueviolet;
    background-color: transparent;
}

#texto__recebido__botoes button:last-child:hover, #texto__enviado__botoes button:hover {
    background-image: linear-gradient(45deg, #4942E4, blueviolet, #8696FE, #C4B0FF);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
    border: 0;
    height: 42%;
}

#texto__enviado {
    overflow-y: scroll;
}

#texto__enviado::-webkit-scrollbar {
    display: none;
}


/*   RODAPÉ   */

#rodape {
    
    background-color: #2B2B2B;
    color: #fff;
    padding: 1rem;
}

#rodape p {
    text-align: center;
}

#rodape a {
    color: #8a2be2;
    font-weight: 600;
    text-decoration: none;
}

#rodape a:hover {
    text-decoration: underline;
}


@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* QUERY MÍNIMA */

@media screen and (min-width: 801px) {
    main {
        height: 93vh;
    }

    #container {
        height: 440px;
    }
}

/* QUERY MÁXIMA */

@media screen and (max-width: 800px) {
    main {
        padding: 10px 0;
        
    }
    #container {
        flex-direction: column;
        width: 90%;
        gap: 30px;
        padding: 20px;
        justify-content: space-between;
    }

    .container__texto {
        width: 100%;
        gap: 20px;
    }

    textarea, #texto__enviado {
        width: 100%;
        height: 170px;
    }
}
